/*Encapsulates all the elements in the page.*/
 /* * {
	text-shadow: 
		0 0 10px whitesmoke;
		scroll-behavior: smooth;
		font-family: 'Architects Daughter', cursive;
		font-weight: bold;
} */

#picoCTF, #cyberdefenders {
	text-decoration: underline;	
	animation: flicker 1.5s infinite alternate;
}
#picoCTF:hover, #cyberdefenders:hover {
	text-shadow: 0 0 10px rgb(0, 207, 243);
}

/* This is for the Top Navigation Bar */
.navbar{
	overflow: hidden;
	background-color: transparent;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: -webkit-sticky;
	position: absolute;
	
	top: 0;
	width: 100%;
	padding-left: -23;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
	z-index: 2;	
	float: top;
}

li {
	float: left;
}
li > a {
	display: block;
	float: left;
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;

  }
.navbar > li:hover {
	background-color: #122131;
  }
#active {
	background-color: #122131;
	animation: flicker 1.5s infinite alternate;
}

/* For the body of the page*/
body {
	background-color: #1F354C;
	text-shadow: 0 0 10px rgb(0, 207, 243);
	margin: 0;
	text-shadow: 0 0 10px whitesmoke;
	scroll-behavior: smooth;
	text-shadow:
    0 0 7px #fff,
    0 0 10px #fff;
}

/*Coverimage Welcome, Welcome_two*/
.centered_welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
	color: whitesmoke;
}

.centered_welcome > .welcome:hover {
	text-shadow: 0 0 10px rgb(0, 207, 243); 
	font-family: 'Architects Daughter', cursive;
}
.centered_welcome > .welcome {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
}
.centered_welcome > h3 {
	text-align: justify;	
}

.bg > img{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	opacity: 0.4;
	z-index: 0;
	
}

body > .welcome {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 7px;
	margin: 0;
	padding: 0;
	font-family: 'Architects Daughter', cursive;
	z-index: 1;
	text-decoration: overline;
	
}


/* Main-AboutMe */
.Main_AboutMe {
	display: flex;
	flex-wrap: wrap;
	
}
/*Main Content*/
.main_content_row {
	margin-top: 90px;
  }













  /*Flip card start*/
#flip-card-front {
	flex: 30%; 
	background-color: transparent; 
	padding: 20px; /* Some padding */
  }

#flip-card-front > img{
	border-radius: 200px;
	width: 100%;
	height: auto;
}

#flip-card-back {
	background-color: transparent;
	color: white;
	transform: rotateY(180deg);
}
#flip-card-back > a {
	position: absolute;
	text-decoration: none;
	justify-content: center;
	font-size: larger;
	font-family: 'Architects Daughter', cursive;
	animation: flicker 1.5s infinite alternate;
	color: #fff;
}
@keyframes flicker {
    
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
		text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 19px #fff,
		0 0 40px #1F354C;
	
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	}    
  }
  



#flip-card:hover #flip-card-inner {
	transform: rotateY(180deg);
}
  
  /* Position the front and back side */
#flip-card-front, #flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
#flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	display: flex;
	justify-content: center;
}
#flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-color: white;
	border-width: 10px;
}













  /*Flip card end*/

/* Start of About me div */
#about_anchor {
	margin-bottom: 100px;
	font-size: 40px;
	font-family: 'Architects Daughter', cursive;
}
#about_anchor:hover {
	text-shadow: 0 0 10px rgb(0, 207, 243);
}
#about_paragraph > p {
	letter-spacing: 0.1em;
	text-align: justify;
	font-family: 'Architects Daughter', cursive;

}


#main_content_main {
	flex: 70%; /* Set the width of the main content */
	background-color: #1F354C; /* White background color */
	padding: 20px; /* Some padding */
	color: whitesmoke;
	overflow: hidden;
	padding-right: 200px;
	align-items: right;
	margin-left: 50px;
}
#main_content_main > p {
	text-align: center;
	
}
/*When the screen is less that 700px it will stack together*/
@media screen and (max-width: 700px) {
	.Main_AboutMe {
		display: flex;
		flex-direction: column;
	}
	.main_content_row{
		text-align: justify;
	}
	#about_paragraph {
		width: 120%; /* Can be in percentage also. */
		height: auto;
		padding: 10px;
		position: relative;
		margin-left: 3%;
	}
	#about_paragraph > p {
		padding: 0px 30px 20px;
	}
	.bg {
		display: inline-block;
		text-align: center;
	}
	body {
		width: fit-content;
	
		margin: 0;
	}
	#about_anchor {
		opacity: 0.0;
	}
	#flip-card {
		width: 300px;
	}
	#flip-card-front > img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-left: 85%;
	}
	#footer {
		width: 100%;
	}
	#flip-card:hover #flip-card-inner {
		transform: none;
	}
	
	
  }

 /* When the screen is less that 400px the navbar will stack againts each other*/ 
  @media screen and (max-width: 400px) {
	.Main_AboutMe {
		display: flex;
		flex-direction: column;
	}
	.navbar > li{
	  float: none;
	  width: 100%;
	}
	.bg{
		flex-direction: column;
	}

	body{
		margin: 0;
	}
  }
#about_paragraph {
	padding: 3 3 3 3;
	font-family: 'Pixel-Art', sans-serif;
	font-weight: 300;	
	font-size: 22px;
}
.container{
	width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.skills {
	flex: 70%; /* Set the width of the main content */
	background-color: #1F354C; 
	padding: 20px; /* Some padding */
	color: whitesmoke;
	overflow: hidden;
	padding-right: 500px;
	padding-left: 100px;
	font-family: 'Pixel-Art', sans-serif;
	font-weight: bold;	
	border-radius: 5px;
	margin-top: 50px;

	
}

.skills > h4 {
	font-family: 'Pixel-Art', sans-serif;
	border-radius: 5px;
		
}
.skills > h3 {
	font-family: 'Pixel-Art', sans-serif;	
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.w3-border {
	border-radius: 10px;
}


.w3-grey {
	border-radius: 10px;	
	
}
.w3-grey :hover {
	width: 100%;
}
.bar{
    position: relative;
    border: 2px solid whitesmoke;
	margin-bottom: 30px;
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 16px;
    border-radius: 10px;
    background-color: whitesmoke;
	
 
}
#DigitalForensics-bar{
    animation: DigitalForensics-fill 2s forwards;
}
@keyframes DigitalForensics-fill{
    100%{
        width: 80%;
    }
}
#WebDev{
    animation: WebDev-fill 2s forwards;
}
@keyframes WebDev-fill{
    100%{
        width: 40%;
    }
}
#SysAd{
    animation: SysAd-fill 2s forwards;
}
@keyframes SysAd-fill{
    100%{
        width: 50%;
    }
}
#Python{
    animation: Python-fill 2s forwards;
}
@keyframes Python-fill{
    100%{
        width: 70%;
    }
}
#OSINT{
    animation: OSINT-fill 2s forwards;
}
@keyframes OSINT-fill{
    100%{
        width: 80%;
    }
}#NetEng{
    animation: NetEng-fill 2s forwards;
}
@keyframes NetEng-fill{
    100%{
        width: 70%;
    }
}


/*Footer*/
/* footer{
	position: bottom;
	bottom: 0;
	align-items: baseline;
	text-shadow: none;
	border: 2px 0 0 0 dashed whitesmoke;

} */


.footer-distributed{
	background-color: transparent;
	box-shadow: 5px 10px 1px 10px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	align-items: baseline;
	text-shadow: none;
	border-top: 1px solid whitesmoke;
	padding: 55px 50px;
	margin-top: 80px;
	/* box-shadow: 0px 0 10px whitesmoke; */
	box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	align-items: baseline;
}

.footer-distributed h3 span{
	color:  #5383d3;
	align-items: baseline;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
	align-items: baseline;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	align-items: baseline;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	align-items: baseline;
}


.footer-distributed .footer-center{
	width: 35%;
	align-items: baseline;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	align-items: baseline;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
	align-items: baseline;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	align-items: baseline;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
	align-items: baseline;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
	align-items: baseline;
}

.footer-distributed .footer-right{
	width: 20%;
	align-items: baseline;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	align-items: baseline;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	align-items: baseline;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
	align-items: baseline;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #122131;
	border-radius: 2px;
	align-items: baseline;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
		align-items: baseline;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
		display: flex;
		align-items: baseline;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
	.centered_welcome {
		display: none;
	}
	.wrapper {
		width: 100%;
	}

}

